<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Workout</title>
</head>
<body>
<div class="container">
    <hr />
    <form action="#" th:action="@{/workouts/new}" th:object="${workout}" method="POST">
            <input type="hidden" th:field="*{account}"/>
            <input type="hidden" th:field="*{dateTime}"/>
        <h2>Add New Workout</h2>
        <div class="form-group">
            <label for="new-workout-title">Title</label>
            <input id="new-workout-title" type="text" th:field="*{title}" placeholder="Title"/>
        </div>
        <div class="form-group">
            <label for="new-workout-notes">Notes</label>
            <textarea id="new-workout-notes" th:field="*{notes}" placeholder="notes"></textarea>
        </div>
        <div class="form-group">
            <label for="new-workout-intensity">Intensity (1-10):</label>
            <input  id="new-workout-intensity" th:field="*{intensityLevel}" type="number" min="1" max="10">
        </div>
        <div class="form-group">
            <select name="type" th:field="*{workoutType}">
                <option th:each="type : ${T(com.group9.puzzledfitness.models.WorkoutType).values()}"
                        th:value="${type}" th:text="${type}"></option>
            </select>
        </div>
        <button type="submit">Add Workout</button>
    </form>
</div>
</body>
</html>