<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Workout</title>
</head>
<body>
<div class="container">
    <h1>View Workout</h1>
    <hr />
    <div class="container">
        <ul>
            <li><a th:href="@{/}">Home</a></li>
        </ul>
        <div class="workouts">
            <h2 th:text="${workout.workoutType}+' at '+${workout.dateTime}">Type and DateTime</h2>
            <h5 th:text="'Title: ' + ${workout.title}">Title</h5>
            <p th:text="'Intensity Level (1-10): ' + ${workout.intensityLevel}">Intensity</p>
            <p th:text="'Notes: ' + ${workout.notes}">Notes</p>
            <p th:text="'User: ' + ${workout.account.firstName}">First Name</p>
        </div>
        <form action="#" th:action="@{'/workouts/' + ${workout.id}} + '/delete'" method="DELETE">
            <button type="submit">Delete Workout</button>
        </form>
    </div>
</div>
</body>
</html>